<p>Welcome to Slush Fund, <%= @user.name %>.</p>

<p>You'll quickly realize how easy it is to use Slush Fund to collect money for your parties.  Less planning, more partying, we always say. Go ahead and get started with your <%= link_to "Slush Funds" , "http://www.slushfund.me/funds" %>!</p>