<p>Welcome to Slush Fund, <%= @user.name %>.</p>

<p>You'll quickly realize how easy it is to use Slush Fund to collect money for your parties.  Less planning, more drinking, we always say. Go ahead and visit your <%= link_to "Slush Funds" , "/fund/#{@user.id}" %>!</p>

<p>Slush Fund encourages you to please drink responsibly.</p>