<h1>Bank Account Setup</h1>
<h2 class="breadcrumbs clearfix">Hi <%= @user.name %>! Please input your bank account details for fund deposit.</h2>
<div class="formcontainer clearfix">
	<form id="payment">
		<span class="leftform clearfix">
            <div class="field">
                <label>Full Name</label>
                <input type="text" name="full_name" value="<%= @user.name %>">
            </div>
			
            <div class="field">
                <label>Date of Birth</label>
                <input type="text" name="dob" value="1980-01">
            </div>
			
            <div class="field">
                <label>Phone Number</label>
                <input type="text" name="phone_number" value="(cal) mem-aybe">
            </div>

            <div class="field">
                <label>Street Address</label>
                <input type="text" name="street" value="801 High St, Suite 200">
            </div>

            <div class="field state">
				<label class="statelabel">State</label>
                <input class="stateinput" type="text" name="state" value="CA">
                <label class="ziplabel">Zip</label>
                <input class="zipinput" type="text" name="zip" value="94301">
                
            </div>
		</span>
		<span class="rightform clearfix">
            <div>
                <label>Account Number</label>
                <input type="text" name="account_number" value="000000-00" autocomplete="off">
            </div>
            <div>
                <label>Routing Number</label>
                <input type="text" name="bank_code" value="321174851">
            </div>
         </span>
		
      </form>	
</div>
	<div class="actions clearfix">
		<div class="nextstep"><button>submit</button></div>

		<div class="cancel"><%= link_to 'Cancel', funds_path %></div>
	</div>
<div id="result"></div>
<script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">
    var marketplaceUri = '/v1/marketplaces/TEST-MP4LvXOqy535KaKJqLwcIUMy/';

    var debug = function (tag, content) {
        $('<' + tag + '>' + content + '</' + tag + '>').appendTo('#result');
    };

    try {
        balanced.init(marketplaceUri);
    } catch (e) {
        debug('code', 'You need to set the marketplaceUri variable');
    }

    function balancedCallback(response) {
        var tag = (response.status < 300) ? 'pre' : 'code';
        debug(tag, JSON.stringify(response));
        switch (response.status) {
            case 201:
window.location.replace("/user/save_bank/?merchant_uri="+response.data.uri+
"&full_name="+$('form#payment').find('[name="full_name"]').val()+
"&dob="+$('form#payment').find('[name="dob"]').val()+
"&phone_number="+$('form#payment').find('[name="phone_number"]').val()+
"&street="+$('form#payment').find('[name="street"]').val()+
"&zip="+$('form#payment').find('[name="zip"]').val()+
"&state="+$('form#payment').find('[name="state"]').val());

            break;
			case 400:
            
			case 403:
                // missing/malformed data - check response.error for details
                break;
            case 404:
                // your marketplace URI is incorrect
                break;
            default:
                // we did something unexpected - check response.error for details
                break;
        }
    }

    var tokenizeBankAccount = function(e) {
        e.preventDefault();

        var $form = $('form#payment');
        var bankAccountData = {
            name: $form.find('[name="full_name"]').val(),
            account_number: $form.find('[name="account_number"]').val(),
            bank_code: $form.find('[name="bank_code"]').val()
        };

        balanced.bankAccount.create(bankAccountData, balancedCallback);
    };

    $('#payment').submit(tokenizeBankAccount);

    if (window.location.protocol === 'file:') {
        alert("balanced.js does not work when included in pages served over file:// URLs. Try serving this page over a webserver. Contact support@balancedpayments.com if you need assistance.");
    }
</script>