<h1>New user</h1>
<%= render 'form' %>

<p><%= link_to 'Back', users_path %></p>

<!-- <div class="progress_image">
<%#= image_tag "beer.jpg" , :class => "beer" , :height => "400px"%>
<%#= image_tag "mug.png" , :class => "mug" , :height => "500px"%>
</div> -->


<div id="container" style="width:60px; height:500px; border:1px solid black; border-radius:8px">
  <div id="progress-bar" style="width:60px; background:blue; height:50%; /*change this height */ ">
  </div>
</div>