<li id='attendee_<%=attendee.id%>'>
<%= attendee.name %> - 
<%= attendee.email %> 
<% if attendee.invited? %>
Invite sent
<% end %>

<%= link_to "Delete" , "/funds/#{attendee.fund_id}/attendee/#{attendee.id}", :method => "delete" ,:remote => true%></li>