/*RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------------
end reset
---------------------------------*/
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

/*----------------------------
new fund
---------------------------------*/
body{
	background:#E6E6E6;
}

.formcontainer, /*.actions,*/ .breadcrumbs, .myfundscontainer{
	width: 980px;
	margin:auto;
	box-sizing: border-box;
	border: 1px solid #D8D8D8;
/*	border-left: 1px solid #D8D8D8;
	border-right: 1px solid #D8D8D8;*/
	padding:20px;
	font-family: helvetica, sans-serif;
	color: #333;
	background:#fff;
	
}

.rightform, .leftform{
	display:block;
	box-sizing: border-box;
/*	border:1px solid blue;*/
}

.leftform{
	width: 420px;
	float:left;
	
}

.rightform{
	width: 515px;
	float:right;
}


.fieldlabel, label{
	width: 120px;
	display: inline-block;
	box-sizing: border-box;
	margin-right:5px;
	/*margin-top:2px;*/
	/*border:1px solid green;*/
	text-align: right;
	height: 25px;
	
}

.fieldtext, input{
	box-sizing: border-box;
	width:250px;
	height: 25px;
	border-radius: 4px;
}

.partydescriptionlabel, .partydescriptiontext{
	display: inline-block;
	
}

.partydescriptionlabel{
	vertical-align: top;
}

.partydescriptiontext{
	height: 150px;
	width:345px;
}


.stateinput{
	width: 72px;
}
.ziplabel{
	width:65px;
}

.zipinput{
	width:100px;
}

/*.actions{
	border-top:1px dotted gray;
	border-bottom:1px solid #D8D8D8;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	background: #F9F9F9;
	box-shadow: 0 1px 1px #999;
}*/
.cancel, .nextstep{
	float:right;
}

.cancel{
	margin-right:20px;
	margin-top:5px;
	border:1px black;
}


/*.nextstep{
	box-sizing: border-box;
	margin-right: 30px;
}*/



/*----------------------------
breadcumbs nav
-------------------------------*/


.breadcrumbs{
	box-sizing: border-box;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	padding: 0;
}

.step{
	box-sizing: border-box;
	float: left;
	width:326px;
	padding: 10px;
	border-right: 1px dotted gray;
}

.step:last-child{
	border-right:none;
}

.stepnumber, .stepname{
	box-sizing: border-box;

	vertical-align:middle;
	display:inline-block;
}

.stepnumber{
	height:35px;
	width:35px;
	margin-left:15px;
	margin-right:15px;
	border:1px solid black;
	border-radius:50%;
	text-align:center;
	padding-top:9px;
}



/*---------------------------------
my funds page
---------------------------------------*/

.myfundscontainer{
	border-top:1px solid black;
	border-left:1px solid black;
	border-right:1px solid black;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-sizing: border-box;
	background: #C8C6C6;
}

.fundlisting{
	border-bottom: dotted 1px black;
	height: 120px;
	position:relative;
}

.fundname, .funddate, .funddescription, .fundbudget, .smallbutton{
	position:absolute;
}
.fundname{
	font-weight:bold;
	top:5px;
	left:5px;
	padding-bottom:5px;
}

.fundbudget{
	top:5px;
	left: 600px;
}

.funddate{
	top:5px;
	right: 5px;
}

.funddescription{
	top:30px;
	left: 5px;
	font-size: 14px;
	width: 600px;
}

.smallbutton {
	display:none;
	border: 1px solid black;
	border-radius: 10px;
	width: 35px;
	height: 35px;
/*	display: inline-block;
*/	box-sizing: border-box;

	
}

.fundlisting:hover{
	background: #fff ;
}

.fundlisting:hover .smallbutton{
		display:inline-block;
}


.show{
	background:green;
}

.edit{
	top: 30px;
	right:50px;
	background:yellow;
	 color: transparent;

}

.destroy{
	top: 30px;
	right:5px;
	background:red;
	 color: transparent;
}


/*------------------------------------
bank account details
---------------------------------------*/
h2.breadcrumbs{
	padding: 10px;
}



/*----------------------------------
homepage
--------------------------------*/
.homeheader{
	width: 100%;
	height: 450px;
	border-bottom: 1px dotted black;
	position:relative;
}

.logo, .logocup, .valueprop, .coin, .footercup{
	position:absolute;
}

.logo{
	width:700px;
	top: 30px;
	left:100px;

}

.logocup{
	width:250px;
	top:95px;
	right: 345px;
}

.homebottom{
	position:relative;
}

.largebutton{
	height:60px;
	width:200px;
	border:1px solid black;
	border-radius: 5px;
	position:absolute;
	font-size: 26px;
	vertical-align: middle;
	text-align:center;
	padding-top:15px;
	font-family:helvetica;
	box-sizing: border-box;
	
}

.login{
	top:125px;
	right:100px;

}

.createaccount{
	top:200px;
	right:100px
}

.valueprop{
	height:300px;
	width:300px;
/*	border: 1px solid black;
	border-radius: 10px;*/
	font-family:helvetica;
	padding: 5px;
}
.valueprop h3{
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 10px;
	
}

.valueprop p{
	line-height: 24px;
	text-align: justify;
}

.valueprop1{
	text-align:right;
	left:100px;
	top:40px;
}

.valueprop2{
	text-align:right;
	left:100px;
	top:450px;
}

.valueprop3{
	text-align:left;
	right:100px;
	top:200px;
}

.coin{
	width: 100px;
	border:5px solid black;
	border-radius: 50%;
	box-sizing: border-box;
}

.coin1{
	top:30px;
	left: 420px;
}

.coin2{
	top:440px;
	left:420px;
}

.coin3{
	top: 190px;
	right: 420px;
}


.footercup{
	height: 200px;
	top:700px;
	right:410px;
}



/*------------------------------
login register
--------------------------------*/

.logincontainer{
	margin:auto;
	width: 600px;
	background: white;
	height:300px;
	font-family: helvetica;
	border-radius: 10px;
	position:relative;
	
}


.loginlogo{
	margin:auto;
	display:block;
	width:300px;
	padding-bottom: 25px;

}

.logincontainer h1{
	font-size: 20px;
	display:block;
	font-weight:bold;
	text-align:center;
	padding: 20px;
}


.loginlabel, .field_with_errors{
	width: 200px;
	display:inline-block;
	height: 35px;
}


.loginbutton input{
	display:inline-block;
	margin:auto;
	margin-top: 30px;
}