/*RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------------
end reset
---------------------------------*/


/*---------------------------------
Colors

Dull:
Orange #bb5511
Yellow #eeaa44
White #eeeeee
Tan #ccbbaa
Red #661100

Vibrant:
Orange #ff5500
Yellow #ffdd55
White #ffffff
Tan #eeeedd
Red #aa0000

-------------------------------------*/



.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

/*----------------------------
new fund
---------------------------------*/
body{
	background: #eeeedd;
	font-family: "proxima nova", helvetica, sans-serif;
}

.formcontainer, /*.actions,*/ .breadcrumbs, .myfundscontainer{
	width: 980px;
	margin:auto;
	box-sizing: border-box;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	padding:20px;

	color: #333;
	background:#fff;
	-webkit-box-shadow: 1px 1px 5px #000000;
	
}

.rightform, .leftform{
	display:block;
	box-sizing: border-box;
/*	border:1px solid blue;*/
}

.leftform{
	width: 420px;
	float:left;
	
}

.rightform{
	width: 515px;
	float:right;
}


.fieldlabel, label{
	width: 120px;
	display: inline-block;
	box-sizing: border-box;
	margin-right:5px;
	/*margin-top:2px;*/
	/*border:1px solid green;*/
	text-align: right;
	height: 25px;
	
}

.fieldtext, input{
	box-sizing: border-box;
	width:250px;
	height: 25px;
	border-radius: 4px;
}

.partydescriptionlabel, .partydescriptiontext{
	display: inline-block;
	
}

.partydescriptionlabel{
	vertical-align: top;
}

.partydescriptiontext{
	height: 150px;
	width:345px;
}


.stateinput{
	width: 72px;
}
.ziplabel{
	width:65px;
}

.zipinput{
	width:100px;
}

/*.actions{
	border-top:1px dotted gray;
	border-bottom:1px solid #D8D8D8;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	background: #F9F9F9;
	box-shadow: 0 1px 1px #999;
}*/
.cancel, .nextstep{
	float:right;

}

.nextstep{
	margin-right: 20px;
	margin-top:10px;
	color: #ffffff;
	text-shadow: 1px 1px black;
	font-size: 14px;
	
}


.cancel{
	margin-right:20px;
	margin-top:25px;
	border:1px black;
}


/*.nextstep{
	box-sizing: border-box;
	margin-right: 30px;
}*/



/*----------------------------
header nav
-------------------------------*/
.header{
	box-sizing: border-box;
	width:100%;
	background: #eeaa44;
	height:220px;
	border-bottom: 5px solid black;
}

.headerlogo{
	width: 300px;
	padding-top:10px;
	position:relative;
	left: 215px;
}

.innerheader{
	height: 80px;
	width:980px;
	box-sizing: border-box;
	background: #ffffff;
	border: 2px solid black;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin:auto;
	position:relative;
	top:9px;
	padding:20px;
	background: #661100;
	color: #fff;
	text-shadow: 1px 1px black;
	font-family: "proxima nova", helvetica, sans-serif;
	font-size: 26px;
	vertical-align: bottom;
}

#header{
/*	background: #eeaa44;
*/	margin:0;
	border-bottom: none;
}
/*.hellouser{
	position:relative;
	top:100px;
	left:100px;
}*/

/*---------------------------------
my funds page
---------------------------------------*/

.myfundscontainer{
	border-top:1px solid black;
	border-left:1px solid black;
	border-right:1px solid black;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-sizing: border-box;
	background: #C8C6C6;
}

.fundlisting{
	border-bottom: dotted 1px black;
	height: 120px;
	position:relative;
}

.fundname, .funddate, .funddescription, .fundbudget, .smallbutton{
	position:absolute;
}
.fundname{
	font-weight:bold;
	top:5px;
	left:5px;
	padding-bottom:5px;
}

.fundbudget{
	top:5px;
	left: 600px;
}

.funddate{
	top:5px;
	right: 5px;
}

.funddescription{
	top:30px;
	left: 5px;
	font-size: 14px;
	width: 600px;
}

.smallbutton {
	display:none;
	border: 1px solid black;
	border-radius: 10px;
	width: 35px;
	height: 35px;
/*	display: inline-block;
*/	box-sizing: border-box;

	
}

.fundlisting:hover{
	background: #fff ;
}

.fundlisting:hover .smallbutton{
		display:inline-block;
}


.show{
	background:green;
}

.edit{
	top: 30px;
	right:50px;
	background:yellow;
	 color: transparent;

}

.destroy{
	top: 30px;
	right:5px;
	background:red;
	 color: transparent;
}


/*------------------------------------
bank account details
---------------------------------------*/
h2.breadcrumbs{
	padding: 10px;
}



/*----------------------------------
homepage
--------------------------------*/
.homeheader{
	width: 100%;
	height: 450px;
	border-bottom: 1px dotted black;
	position:relative;
	background: #eeaa44;

}

.logo, .logocup, .valueprop, .coin, .footercup, .bounce, .logocoin{
	position:absolute;
}

.logo{
	width:700px;
	top: 30px;
	left:100px;

}

.logocup{
	width:250px;
	top:95px;
	right: 345px;
}

.logocoin{
	width:92px;
	top:33px;
	right: 590px;
	border: 5px solid black;
	border-radius: 50%;
}

.homebottom{
	position:relative;
	background: #eeeedd;
	height: 900px;
}

.largebutton{
	height:60px;
	width:200px;
	border:1px solid black;
	border-radius: 5px;
	position:absolute;
	font-size: 26px;
	vertical-align: middle;
	text-align:center;
	padding-top:15px;
	font-family:"proxima nova", helvetica;
	box-sizing: border-box;
	
}

.login{
	top:125px;
	right:100px;

}

.createaccount{
	top:200px;
	right:100px
}

.valueprop{
	height:300px;
	width:300px;
	font-family:helvetica;
	padding: 5px;

}
.valueprop h3{
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 10px;
	color: #661100;
	text-shadow: 1px 1px #fff;
	
}

.valueprop p{
	line-height: 24px;
	text-align: justify;
}

.valueprop1{
	text-align:right;
	left:100px;
	top:40px;
}

.valueprop2{
	text-align:right;
	left:100px;
	top:450px;
}

.valueprop3{
	text-align:left;
	right:100px;
	top:200px;
}

.coin{
	width: 100px;
	border:5px solid black;
	border-radius: 50%;
	box-sizing: border-box;
}

.coin1{
	top:30px;
	left: 420px;
}

.coin2{
	top:440px;
	left:420px;
}


.coin3{
	top: 190px;
	right: 420px;
	-webkit-transform: rotate(-40deg);
	-moz-transform: rotate(-40deg);
	-ms-transform: rotate(-40deg); 
	-o-transform: rotate(-40deg);
	transform: rotate(-40deg);

 
}

.bounce{
	width: 300px;
}

.bounce1{
	top:65px;
	left: 520px;
	-webkit-transform: rotate(40deg);
	-moz-transform: rotate(40deg);
	-ms-transform: rotate(40deg); 
	-o-transform: rotate(40deg);
	transform: rotate(40deg);
}

.bounce2{
	top:280px;
	left: 520px;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg); 
	-o-transform: rotate(-10deg);
	transform: rotate(-10deg);
}
.bounce3{
	top:490px;
	left: 520px;
	-webkit-transform: rotate(40deg);
	-moz-transform: rotate(40deg);
	-ms-transform: rotate(40deg); 
	-o-transform: rotate(40deg);
	transform: rotate(40deg);
}

.footercup{
	height: 200px;
	top:670px;
	right:410px;
}



/*------------------------------
login register
--------------------------------*/

.logincontainer{
	margin:auto;
	width: 600px;
	background: white;
	height:300px;
	font-family: helvetica;
	border-radius: 10px;
	position:relative;
	border: 1px solid #000000;
	-webkit-box-shadow: 2px 2px 5px #000000;
	
}


.loginlogo{
	margin:auto;
	display:block;
	width:300px;
	padding-bottom: 25px;

}

.logincontainer h1{
	font-size: 20px;
	display:block;
	font-weight:bold;
	text-align:center;
	padding: 20px;
}


.loginlabel, .field_with_errors{
	width: 200px;
	display:inline-block;
	height: 35px;
}


.loginbutton input{
	display:inline-block;
	margin:auto;
	margin-top: 30px;
}




/*---------------------------------
invite friends
-----------------------------------*/



.invitelist{
	border: 1px solid #ccbbaa;
	border-radius: 5px;
	padding: 10px;
}

 .invitelist li{
	padding-top:5px;
}

 .invitelist li:hover{
	background: #eee;
}

.addtolist{
	float:right;
	margin-right: 41px;
	margin-top: 15px;
	background: -webkit-linear-gradient(top, #aa0000, #661100);
	color: #ffffff;
	text-shadow: 1px 1px black;
	font-size: 14px;
	padding-left:15px;
	padding-right:15px;
	border-radius: 10px;
	border:1px solid black;
}

.mail, .gotofund{
	float:right;
	margin-top:15px;
	
}


.gotofund{
	padding-left:10px;
}

/*-------------------------------
Status page
-------------------------------*/
.fundstatus{
	border-bottom:none;
	font-size:20px;
}

.statusinfo{
	height:25px;
}

.statusname{
	color: #661100;
	font-weight:bold;
}

.amountraised{
	font-size: 56px;
	font-weight: bold;
	display:block;
	padding-top:10px;
	padding-bottom: 10px;
}


.statusdescription{
	width:300px;
	font-size: 16px;
	margin-top: 15px;
	margin-bottom:15px;
	
	
}


.attendeelist li{
	padding-bottom: 5px;
	list-style: none;
}

.attendeecontainer{
	margin-bottom:20px;
}

.reminderform{
	margin-top: 20px;

}

.reminderform label{
	width:100px;
	height:40px;
	text-align: left;
	
}

.reminderform input{
	width:300px;
}

.reminderbody{
	display:inline-block;
	margin-top:10px;
}

.remindermessage{
	padding-bottom:30px;
}

#recipients_everyone, #recipients_unpaid{
	width:20px;

}
.radio{
	margin-right:15px;
	margin-left:33px;
}

.sendemail{
	float:right;
	margin-right:103px;
	margin-top: 25px;
	margin-top: 25px;
	border-radius: 10px;
	border:1px solid black;
}

.sendemail input{
	background: -webkit-linear-gradient(top, #aa0000, #661100);
	color: #ffffff;
	text-shadow: 1px 1px black;
	font-size: 14px;
	padding-left:15px;
	padding-right:15px;
	border: none;



}


.requestform{
/*	margin-top:200px;*/
	width: 980px;
	margin:auto;
	background: #fff;
	margin-bottom:50px;
	padding-top:20px;
/*	height:400px;*/
	box-sizing: border-box;
	border-top:1px dotted black;
	padding:20px;
	border-left:1px solid black;
	border-right:1px solid black;
	border-bottom:1px solid black;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-box-shadow: 1px 1px 5px #000000;
}

.requestform h3, .fundstatus h3{
	font-size: 22px;
	color: #661100 ;
margin-bottom:15px;
	font-weight: 700;
}


.rightrequest{
	float: right;
	width:590px;
}
#request_list{
	border:1px solid black;
	border-radius: 10px;

}

#request_list li{
	padding: 10px;
}


.requestlabel{
	width:30px;
	height:40px;
}

.requestbutton{
	float:right;
	margin-right: 58px;
	background: -webkit-linear-gradient(top, #aa0000, #661100);
	color: #ffffff;
	text-shadow: 1px 1px black;
	font-size: 14px;
	padding-left:15px;
	padding-right:15px;
	border-radius: 10px;
	border:1px solid black;
}

.sendlisttophone{
	float:right;
	margin-top:20px;
padding-top:10px;
box-sizing: border-box;
}

/*-------------------------------------
enter payment details
--------------------------------------*/
#payment label{
	display: inline-block;
	width: 150px;
	margin-top:15px;
}

.securitycodelabel{
		float:left;
}
.securitycode{
	width:50px;
}
.securitycodelabel{
	width:100px;
	display:inline-block;
	text-align:left;
}
.expirationmonth{
	width:25px;
}

.expirationyear{
	width:40px;
}

.contribution{
	width: 524px;
	float:right;
}

.submitpayment{
	float:right;
	margin-top:20px;
	margin-right:115px;
	margin-bottom: 25px;
	color: #ffffff;
	text-shadow: 1px 1px black;
	font-size: 14px;
}



.paymyshare{
	display:inline-block;
	visibility:hidden;
	font-size:1px;
	
}

.paycoin{
	width:25px;
	border: 2px solid black;
	border-radius: 50%;
	-webkit-transform: rotate(-40deg);
	-moz-transform: rotate(-40deg);
	-ms-transform: rotate(-40deg); 
	-o-transform: rotate(-40deg);
	transform: rotate(-40deg);
}

.fundattendees:hover .paymyshare{
	visibility:visible;
	font-size:16px;
	
}


a{
	text-decoration:none;
}

.button, button{
	background: -webkit-linear-gradient(top, #aa0000, #661100);
	height: 35px;
	padding-left:15px;
	padding-right:15px;
	border-radius: 10px;
	border:1px solid black;
	
	
}

button a, .button a{
	color: #ffffff;
	text-shadow: 1px 1px black;
	font-size: 18px;
	
}

.smallbutton{

}