<script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>

<h1>Contribute</h1>

 <form id="payment">
	<label>Contribution</label>
     <input name="amount" value="10" autocomplete="off">
     <label>Cardholder's Name</label>
     <input name="name" value="Harry" autocomplete="off">
     <input name="email" value="<%= params[:email] %>" autocomplete="off" type="hidden" >

         <label>Card Number</label>
         <input name="card_number" value="4111111111111111" autocomplete="off">

         <label>Expiration</label>
         <input name="expiration_month" value="1"> / <input name="expiration_year" value="2020">

         <label>Security Code</label>
         <input name="security_code" value="123" autocomplete="off">

     <button>Submit Payment Data</button>
 </form>

<script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>


<script type="text/javascript">
    // var marketplaceUri = "/v1/marketplaces/MP3RwLmxYQMG0jwFz0h0Cmrs/";
    var marketplaceUri = "/v1/marketplaces/TEST-MP4LvXOqy535KaKJqLwcIUMy/";



   balanced.init(marketplaceUri);

    function balancedCallback(response) {
        var tag = (response.status < 300) ? 'pre' : 'code';
        switch (response.status) {
            case 201:
                // response.data.uri == uri of the card resource, submit to your server
				window.location.replace("/funds/"+<%= params[:id] %>+"/checkout/?card_uri="+response.data.uri+"&amount="+$('form#payment').find('[name="amount"]').val()+"&email="+$('form#payment').find('[name="email"]').val());
				break;
            case 400:
				alert(response.error);
				break;
            case 403:
                // missing/malformed data - check response.error for details
                break;
            case 402:
                // we couldn't authorize the buyer's credit card - check response.error for details
                break;
            case 404:
                // your marketplace URI is incorrect
                break;
            default:
                // we did something unexpected - check response.error for details
                break;
        }
    }

    var tokenizeCard = function(e) {
        e.preventDefault();

        var $form = $('form#payment');
        var cardData = {
			name: $form.find('[name="name"]').val(),
            card_number: $form.find('[name="card_number"]').val(),
            expiration_month: $form.find('[name="expiration_month"]').val(),
            expiration_year: $form.find('[name="expiration_year"]').val(),
            security_code: $form.find('[name="security_code"]').val()
        };

        balanced.card.create(cardData, balancedCallback);
    };

    $('#payment').submit(tokenizeCard);

</script>