<h1>Editing fund</h1>
<div class="header clearfix">
	<%= image_tag "headerlogo.png", :class => "headerlogo" %>
	<div class="innerheader">
		Edit Party Details
	</div>
	
</div>
<%= render 'form' %>

<%= link_to 'Show', @fund %> |
<%= link_to 'Back', funds_path %>
