<h1>Editing fund</h1>
<ul class="breadcrumbs clearfix">
	<li class="step stepone"><span class="stepnumber">1</span> <span class="stepname">Add Details<span></li>
	<li class="step steptwo"><span class="stepnumber">2</span> <span class="stepname">Invite Friends</span></li>
	<li class="step stepthree"><span class="stepnumber">3</span> <span class="stepname">Start Collecting Money</span></li>
</ul>
<%= render 'form' %>

<%= link_to 'Show', @fund %> |
<%= link_to 'Back', funds_path %>
