<body>
<h1>New fund</h1>
<div class="header clearfix">
	<%= image_tag "headerlogo.png", :class => "headerlogo" %>
	<div class="innerheader">
		Enter Party Details
	</div>
	
</div>
<%= render 'form' %>

<%= link_to 'Back', funds_path %>
</body>